RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^services/(.*)$ /urlfile.php?country=$1 [NC,L,QSA]
DirectoryIndex login.php index.php
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteCond %{HTTPS} on
RewriteRule ^/?$ http://%{SERVER_NAME}/ [R=301]
#RewriteRule 301 redirecturl  /baseur
RewriteRule ^inner/directory/?$ http://%{SERVER_NAME}/inner/directory/ [R=301,L]
ErrorDocument 404 /rentalcar/notfound.php
